@charset "UTF-8";
/* CSS Document */



/*テキストの位置*/
.text-left_sm-center{
	text-align:left !important;
}
.text-right_sm-center{
	text-align:right !important;
}
.text-center_sm-left{
	text-align:center !important;
}
.text-center_sm-right{
	text-align:center !important;
}

@media (min-width: 768px) {
.text-left_sm-center,.text-right_sm-center {
	text-align:center !important;
}
.text-center_sm-left {
	text-align:left !important;
}
.text-center_sm-right{
	text-align:right !important;
}
}


/*gridのgutter調整*/
.container {
	overflow:hidden;
}
.row-0{
	margin-left:0px;
	margin-right:0px;
}
.row-0 > .col-xs-1, .row-0 > .col-sm-1, .row-0 > .col-md-1, .row-0 > .col-lg-1, .row-0 > .col-xs-2, .row-0 > .col-sm-2, .row-0 > .col-md-2, .row-0 > .col-lg-2, .row-0 > .col-xs-3, .row-0 > .col-sm-3, .row-0 > .col-md-3, .row-0 > .col-lg-3, .row-0 > .col-xs-4, .row-0 > .col-sm-4, .row-0 > .col-md-4, .row-0 > .col-lg-4, .row-0 > .col-xs-5, .row-0 > .col-sm-5, .row-0 > .col-md-5, .row-0 > .col-lg-5, .row-0 > .col-xs-6, .row-0 > .col-sm-6, .row-0 > .col-md-6, .row-0 > .col-lg-6, .row-0 > .col-xs-7, .row-0 > .col-sm-7, .row-0 > .col-md-7, .row-0 > .col-lg-7, .row-0 > .col-xs-8, .row-0 > .col-sm-8, .row-0 > .col-md-8, .row-0 > .col-lg-8, .row-0 > .col-xs-9, .row-0 > .col-sm-9, .row-0 > .col-md-9, .row-0 > .col-lg-9, .row-0 > .col-xs-10, .row-0 > .col-sm-10, .row-0 > .col-md-10, .row-0 > .col-lg-10, .row-0 > .col-xs-11, .row-0 > .col-sm-11, .row-0 > .col-md-11, .row-0 > .col-lg-11, .row-0 > .col-xs-12, .row-0 > .col-sm-12, .row-0 > .col-md-12, .row-0 > .col-lg-12 {
	padding-right: 0 !important;
	padding-left: 0 !important;
}
.row-10{
	margin-left:-5px;
	margin-right:-5px;
}
.row-10 > .col-xs-1, .row-10 > .col-sm-1, .row-10 > .col-md-1, .row-10 > .col-lg-1, .row-10 > .col-xs-2, .row-10 > .col-sm-2, .row-10 > .col-md-2, .row-10 > .col-lg-2, .row-10 > .col-xs-3, .row-10 > .col-sm-3, .row-10 > .col-md-3, .row-10 > .col-lg-3, .row-10 > .col-xs-4, .row-10 > .col-sm-4, .row-10 > .col-md-4, .row-10 > .col-lg-4, .row-10 > .col-xs-5, .row-10 > .col-sm-5, .row-10 > .col-md-5, .row-10 > .col-lg-5, .row-10 > .col-xs-6, .row-10 > .col-sm-6, .row-10 > .col-md-6, .row-10 > .col-lg-6, .row-10 > .col-xs-7, .row-10 > .col-sm-7, .row-10 > .col-md-7, .row-10 > .col-lg-7, .row-10 > .col-xs-8, .row-10 > .col-sm-8, .row-10 > .col-md-8, .row-10 > .col-lg-8, .row-10 > .col-xs-9, .row-10 > .col-sm-9, .row-10 > .col-md-9, .row-10 > .col-lg-9, .row-10 > .col-xs-10, .row-10 > .col-sm-10, .row-10 > .col-md-10, .row-10 > .col-lg-10, .row-10 > .col-xs-11, .row-10 > .col-sm-11, .row-10 > .col-md-11, .row-10 > .col-lg-11, .row-10 > .col-xs-12, .row-10 > .col-sm-12, .row-10 > .col-md-12, .row-10 > .col-lg-12 {
	padding-right: 5px !important;
	padding-left: 5px !important;
}
.row-15{
	margin-left:-8px;
	margin-right:-8px;
}
.row-15 > .col-xs-1, .row-15 > .col-sm-1, .row-15 > .col-md-1, .row-15 > .col-lg-1, .row-15 > .col-xs-2, .row-15 > .col-sm-2, .row-15 > .col-md-2, .row-15 > .col-lg-2, .row-15 > .col-xs-3, .row-15 > .col-sm-3, .row-15 > .col-md-3, .row-15 > .col-lg-3, .row-15 > .col-xs-4, .row-15 > .col-sm-4, .row-15 > .col-md-4, .row-15 > .col-lg-4, .row-15 > .col-xs-5, .row-15 > .col-sm-5, .row-15 > .col-md-5, .row-15 > .col-lg-5, .row-15 > .col-xs-6, .row-15 > .col-sm-6, .row-15 > .col-md-6, .row-15 > .col-lg-6, .row-15 > .col-xs-7, .row-15 > .col-sm-7, .row-15 > .col-md-7, .row-15 > .col-lg-7, .row-15 > .col-xs-8, .row-15 > .col-sm-8, .row-15 > .col-md-8, .row-15 > .col-lg-8, .row-15 > .col-xs-9, .row-15 > .col-sm-9, .row-15 > .col-md-9, .row-15 > .col-lg-9, .row-15 > .col-xs-10, .row-15 > .col-sm-10, .row-15 > .col-md-10, .row-15 > .col-lg-10, .row-15 > .col-xs-11, .row-15 > .col-sm-11, .row-15 > .col-md-11, .row-15 > .col-lg-11, .row-15 > .col-xs-12, .row-15 > .col-sm-12, .row-15 > .col-md-12, .row-15 > .col-lg-12 {
	padding-right: 8px !important;
	padding-left: 8px !important;
}
.row-20  {
	margin-left:-10px;
	margin-right:-10px;
}
.row-20 > .col-xs-1, .row-20 > .col-sm-1, .row-20 > .col-md-1, .row-20 > .col-lg-1, .row-20 > .col-xs-2, .row-20 > .col-sm-2, .row-20 > .col-md-2, .row-20 > .col-lg-2, .row-20 > .col-xs-3, .row-20 > .col-sm-3, .row-20 > .col-md-3, .row-20 > .col-lg-3, .row-20 > .col-xs-4, .row-20 > .col-sm-4, .row-20 > .col-md-4, .row-20 > .col-lg-4, .row-20 > .col-xs-5, .row-20 > .col-sm-5, .row-20 > .col-md-5, .row-20 > .col-lg-5, .row-20 > .col-xs-6, .row-20 > .col-sm-6, .row-20 > .col-md-6, .row-20 > .col-lg-6, .row-20 > .col-xs-7, .row-20 > .col-sm-7, .row-20 > .col-md-7, .row-20 > .col-lg-7, .row-20 > .col-xs-8, .row-20 > .col-sm-8, .row-20 > .col-md-8, .row-20 > .col-lg-8, .row-20 > .col-xs-9, .row-20 > .col-sm-9, .row-20 > .col-md-9, .row-20 > .col-lg-9, .row-20 > .col-xs-10, .row-20 > .col-sm-10, .row-20 > .col-md-10, .row-20 > .col-lg-10, .row-20 > .col-xs-11, .row-20 > .col-sm-11, .row-20 > .col-md-11, .row-20 > .col-lg-11, .row-20 > .col-xs-12, .row-20 > .col-sm-12, .row-20 > .col-md-12, .row-20 > .col-lg-12 {
	padding-right: 10px !important;
	padding-left: 10px !important;
}
.row-25  {
	margin-left:-13px;
	margin-right:-13px;
}
.row-25 > .col-xs-1, .row-25 > .col-sm-1, .row-25 > .col-md-1, .row-25 > .col-lg-1, .row-25 > .col-xs-2, .row-25 > .col-sm-2, .row-25 > .col-md-2, .row-25 > .col-lg-2, .row-25 > .col-xs-3, .row-25 > .col-sm-3, .row-25 > .col-md-3, .row-25 > .col-lg-3, .row-25 > .col-xs-4, .row-25 > .col-sm-4, .row-25 > .col-md-4, .row-25 > .col-lg-4, .row-25 > .col-xs-5, .row-25 > .col-sm-5, .row-25 > .col-md-5, .row-25 > .col-lg-5, .row-25 > .col-xs-6, .row-25 > .col-sm-6, .row-25 > .col-md-6, .row-25 > .col-lg-6, .row-25 > .col-xs-7, .row-25 > .col-sm-7, .row-25 > .col-md-7, .row-25 > .col-lg-7, .row-25 > .col-xs-8, .row-25 > .col-sm-8, .row-25 > .col-md-8, .row-25 > .col-lg-8, .row-25 > .col-xs-9, .row-25 > .col-sm-9, .row-25 > .col-md-9, .row-25 > .col-lg-9, .row-25 > .col-xs-10, .row-25 > .col-sm-10, .row-25 > .col-md-10, .row-25 > .col-lg-10, .row-25 > .col-xs-11, .row-25 > .col-sm-11, .row-25 > .col-md-11, .row-25 > .col-lg-11, .row-25 > .col-xs-12, .row-25 > .col-sm-12, .row-25 > .col-md-12, .row-25 > .col-lg-12 {
	padding-right: 13px !important;
	padding-left: 13px !important;
}
.row-30 {
	margin-left:-15px;
	margin-right:-15px;
}
.row-30 > .col-xs-1, .row-30 > .col-sm-1, .row-30 > .col-md-1, .row-30 > .col-lg-1, .row-30 > .col-xs-2, .row-30 > .col-sm-2, .row-30 > .col-md-2, .row-30 > .col-lg-2, .row-30 > .col-xs-3, .row-30 > .col-sm-3, .row-30 > .col-md-3, .row-30 > .col-lg-3, .row-30 > .col-xs-4, .row-30 > .col-sm-4, .row-30 > .col-md-4, .row-30 > .col-lg-4, .row-30 > .col-xs-5, .row-30 > .col-sm-5, .row-30 > .col-md-5, .row-30 > .col-lg-5, .row-30 > .col-xs-6, .row-30 > .col-sm-6, .row-30 > .col-md-6, .row-30 > .col-lg-6, .row-30 > .col-xs-7, .row-30 > .col-sm-7, .row-30 > .col-md-7, .row-30 > .col-lg-7, .row-30 > .col-xs-8, .row-30 > .col-sm-8, .row-30 > .col-md-8, .row-30 > .col-lg-8, .row-30 > .col-xs-9, .row-30 > .col-sm-9, .row-30 > .col-md-9, .row-30 > .col-lg-9, .row-30 > .col-xs-10, .row-30 > .col-sm-10, .row-30 > .col-md-10, .row-30 > .col-lg-10, .row-30 > .col-xs-11, .row-30 > .col-sm-11, .row-30 > .col-md-11, .row-30 > .col-lg-11, .row-30 > .col-xs-12, .row-30 > .col-sm-12, .row-30 > .col-md-12, .row-30 > .col-lg-12 {
	padding-right: 15px !important;
	padding-left: 15px !important;
}
.row-40 {
	margin-left:-20px;
	margin-right:-20px;
}
.row-40 > .col-xs-1, .row-40 > .col-sm-1, .row-40 > .col-md-1, .row-40 > .col-lg-1, .row-40 > .col-xs-2, .row-40 > .col-sm-2, .row-40 > .col-md-2, .row-40 > .col-lg-2, .row-40 > .col-xs-3, .row-40 > .col-sm-3, .row-40 > .col-md-3, .row-40 > .col-lg-3, .row-40 > .col-xs-4, .row-40 > .col-sm-4, .row-40 > .col-md-4, .row-40 > .col-lg-4, .row-40 > .col-xs-5, .row-40 > .col-sm-5, .row-40 > .col-md-5, .row-40 > .col-lg-5, .row-40 > .col-xs-6, .row-40 > .col-sm-6, .row-40 > .col-md-6, .row-40 > .col-lg-6, .row-40 > .col-xs-7, .row-40 > .col-sm-7, .row-40 > .col-md-7, .row-40 > .col-lg-7, .row-40 > .col-xs-8, .row-40 > .col-sm-8, .row-40 > .col-md-8, .row-40 > .col-lg-8, .row-40 > .col-xs-9, .row-40 > .col-sm-9, .row-40 > .col-md-9, .row-40 > .col-lg-9, .row-40 > .col-xs-10, .row-40 > .col-sm-10, .row-40 > .col-md-10, .row-40 > .col-lg-10, .row-40 > .col-xs-11, .row-40 > .col-sm-11, .row-40 > .col-md-11, .row-40 > .col-lg-11, .row-40 > .col-xs-12, .row-40 > .col-sm-12, .row-40 > .col-md-12, .row-40 > .col-lg-12 {
	padding-right: 20px !important;
	padding-left: 20px !important;
}
.row-50 {
	margin-left:-25px;
	margin-right:-25px;
}
.row-50 > .col-xs-1, .row-50 > .col-sm-1, .row-50 > .col-md-1, .row-50 > .col-lg-1, .row-50 > .col-xs-2, .row-50 > .col-sm-2, .row-50 > .col-md-2, .row-50 > .col-lg-2, .row-50 > .col-xs-3, .row-50 > .col-sm-3, .row-50 > .col-md-3, .row-50 > .col-lg-3, .row-50 > .col-xs-4, .row-50 > .col-sm-4, .row-50 > .col-md-4, .row-50 > .col-lg-4, .row-50 > .col-xs-5, .row-50 > .col-sm-5, .row-50 > .col-md-5, .row-50 > .col-lg-5, .row-50 > .col-xs-6, .row-50 > .col-sm-6, .row-50 > .col-md-6, .row-50 > .col-lg-6, .row-50 > .col-xs-7, .row-50 > .col-sm-7, .row-50 > .col-md-7, .row-50 > .col-lg-7, .row-50 > .col-xs-8, .row-50 > .col-sm-8, .row-50 > .col-md-8, .row-50 > .col-lg-8, .row-50 > .col-xs-9, .row-50 > .col-sm-9, .row-50 > .col-md-9, .row-50 > .col-lg-9, .row-50 > .col-xs-10, .row-50 > .col-sm-10, .row-50 > .col-md-10, .row-50 > .col-lg-10, .row-50 > .col-xs-11, .row-50 > .col-sm-11, .row-50 > .col-md-11, .row-50 > .col-lg-11, .row-50 > .col-xs-12, .row-50 > .col-sm-12, .row-50 > .col-md-12, .row-50 > .col-lg-12 {
	padding-right: 25px !important;
	padding-left: 25px !important;
}
/*可変*/
.row-custom{
	margin-left:-5px;
	margin-right:-5px;
}
.row-custom > .col-xs-1, .row-custom > .col-sm-1, .row-custom > .col-md-1, .row-custom > .col-lg-1, .row-custom > .col-xs-2, .row-custom > .col-sm-2, .row-custom > .col-md-2, .row-custom > .col-lg-2, .row-custom > .col-xs-3, .row-custom > .col-sm-3, .row-custom > .col-md-3, .row-custom > .col-lg-3, .row-custom > .col-xs-4, .row-custom > .col-sm-4, .row-custom > .col-md-4, .row-custom > .col-lg-4, .row-custom > .col-xs-5, .row-custom > .col-sm-5, .row-custom > .col-md-5, .row-custom > .col-lg-5, .row-custom > .col-xs-6, .row-custom > .col-sm-6, .row-custom > .col-md-6, .row-custom > .col-lg-6, .row-custom > .col-xs-7, .row-custom > .col-sm-7, .row-custom > .col-md-7, .row-custom > .col-lg-7, .row-custom > .col-xs-8, .row-custom > .col-sm-8, .row-custom > .col-md-8, .row-custom > .col-lg-8, .row-custom > .col-xs-9, .row-custom > .col-sm-9, .row-custom > .col-md-9, .row-custom > .col-lg-9, .row-custom > .col-xs-10, .row-custom > .col-sm-10, .row-custom > .col-md-10, .row-custom > .col-lg-10, .row-custom > .col-xs-11, .row-custom > .col-sm-11, .row-custom > .col-md-11, .row-custom > .col-lg-11, .row-custom > .col-xs-12, .row-custom > .col-sm-12, .row-custom > .col-md-12, .row-custom > .col-lg-12 {
	padding-right: 5px !important;
	padding-left: 5px !important;
}
@media (min-width: 768px) {
.row-custom{
	margin-left:-10px;
	margin-right:-10px;
}
.row-custom > .col-xs-1, .row-custom > .col-sm-1, .row-custom > .col-md-1, .row-custom > .col-lg-1, .row-custom > .col-xs-2, .row-custom > .col-sm-2, .row-custom > .col-md-2, .row-custom > .col-lg-2, .row-custom > .col-xs-3, .row-custom > .col-sm-3, .row-custom > .col-md-3, .row-custom > .col-lg-3, .row-custom > .col-xs-4, .row-custom > .col-sm-4, .row-custom > .col-md-4, .row-custom > .col-lg-4, .row-custom > .col-xs-5, .row-custom > .col-sm-5, .row-custom > .col-md-5, .row-custom > .col-lg-5, .row-custom > .col-xs-6, .row-custom > .col-sm-6, .row-custom > .col-md-6, .row-custom > .col-lg-6, .row-custom > .col-xs-7, .row-custom > .col-sm-7, .row-custom > .col-md-7, .row-custom > .col-lg-7, .row-custom > .col-xs-8, .row-custom > .col-sm-8, .row-custom > .col-md-8, .row-custom > .col-lg-8, .row-custom > .col-xs-9, .row-custom > .col-sm-9, .row-custom > .col-md-9, .row-custom > .col-lg-9, .row-custom > .col-xs-custom, .row-custom > .col-sm-custom, .row-custom > .col-md-custom, .row-custom > .col-lg-custom, .row-custom > .col-xs-11, .row-custom > .col-sm-11, .row-custom > .col-md-11, .row-custom > .col-lg-11, .row-custom > .col-xs-12, .row-custom > .col-sm-12, .row-custom > .col-md-12, .row-custom > .col-lg-12 {
	padding-right: 10px !important;
	padding-left: 10px !important;
}
}
/*gridのgutter調整（clearfix）*/
.row-0:before,
.row-10:before,
.row-15:before,
.row-20:before,
.row-25:before,
.row-30:before,
.row-40:before,
.row-50:before,
.row-custom:before,
.row-0:after,
.row-10:after,
.row-15:after,
.row-20:after,
.row-25:after,
.row-30:after,
.row-40:after,
.row-50:after,
.row-custom:after {
    content: " ";
    display: table;
}
.row-0:before,
.row-10:before,
.row-15:before,
.row-20:before,
.row-25:before,
.row-30:before,
.row-40:before,
.row-50:before,
.row-custom:before,
.row-0:after,
.row-10:after,
.row-15:after,
.row-20:after,
.row-25:after,
.row-30:after,
.row-40:after,
.row-50:after,
.row-custom:after {
    clear: both;
}
.row-0:before,
.row-10:before,
.row-15:before,
.row-20:before,
.row-25:before,
.row-30:before,
.row-40:before,
.row-50:before,
.row-custom:before,
.row-0:after,
.row-10:after,
.row-15:after,
.row-20:after,
.row-25:after,
.row-30:after,
.row-40:after,
.row-50:after,
.row-custom:after {
    *zoom: 1;
}

